.weather {
    width: 300px;
    border-radius: 6px;
    box-shadow: 10px -2px 20px 2px rgb(0 0 0 / 30%);
    color: #fff;
    background-color: rgb(113, 176, 240);
    margin: 20px auto 0px auto;
    padding: 0px 20px;
}

.top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 15px;
}

.bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.city {
    font-weight: 600;
    font-size: 30px;
    line-height: 1;
    margin: 0px;
    letter-spacing: 1px;
}

.weather-description {
    font-weight: 400;
    font-size: 18px;
    line-height: 1;
    margin: 0px;
}

.temperature {
    font-weight: 600;
    font-size: 50px;
}

.details {
    width: 100%;
    font-size: 16px;
    padding-left: 30px;
    line-height: 1;
    margin: 0px;
    letter-spacing: 1px;
}

.parametr-row {
    display: flex;
    justify-content: space-between;
}

.parametr-value {
    font-weight: 600;
}